{namespace hse=HSE\Labor\ViewHelpers}

<f:layout name="Default" />

<f:section name="Title">Students</f:section>


<f:section name="Content">

	<table>
		<tr>
			<td>Student</td>
			<f:for each="{modules}" as="module">
				<td>{module.name}</td>
			</f:for>
		</tr>
		<f:for each="{stats}" as="stat">
			<tr>
				<td><f:link.action action="show" arguments="{student: stat.student}">{stat.student.name.fullName}</f:link.action></td>
				<f:for each="{stat.modules}" as="module">
					<td class="number">{module.stats.requiredAnsweredPercentage}%</td>
				</f:for>
			</tr>
		</f:for>
	</table>

</f:section>
