<f:layout name="Default" />

<f:section name="Title">Student - {student.name.fullName}</f:section>

<f:section name="Content">

	<h3>Solved Exercises</h3>
	<table>
		<tr>
			<td></td>
			<f:for each="{modules}" as="module">
				<td>{module.name}</td>
			</f:for>
		</tr>
		<f:for each="{stats}" as="stat">
			<tr>
				<td>Required</td>
				<f:for each="{stat}" as="module">
					<td class="number">{module.stats.requiredAnsweredCount}/{module.stats.requiredExercisesCount} {module.stats.requiredAnsweredPercentage}%</td>
				</f:for>
			</tr>
			<tr>
				<td>Optional</td>
				<f:for each="{stat}" as="module">
					<td class="number">{module.stats.optionalAnsweredCount}/{module.stats.optionalExercisesCount} {module.stats.optionalAnsweredPercentage}%</td>
				</f:for>
			</tr>
		</f:for>
	</table>

</f:section>
