{namespace hse=HSE\Labor\ViewHelpers}

<hse:list listType="ul" each="{modules}" as="module">
	<f:if condition="{module} == {currentModule}">
		<f:then>
			<li class="active">
			<f:if condition="{currentLab}">
				<f:then>
					<f:link.action controller="Module" action="show" arguments="{module: module}">{module.name}</f:link.action>
				</f:then>
				<f:else>
					{module.name}
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<li><f:link.action controller="Module" action="show" arguments="{module: module}">{module.name}</f:link.action>
		</f:else>
	</f:if>
	<hse:list listType="ul" each="{module.labs}" as="lab">
		<f:if condition="{lab} == {currentLab}">
			<f:then>
				<li class="active">
				<f:if condition="{currentExercise}">
					<f:then>
						<f:security.ifHasRole role="Administrator">
							<f:then>
								<f:link.action controller="Exercise" action="index" arguments="{lab: lab}">{lab.name}</f:link.action>
							</f:then>
							<f:else>
								<f:link.action controller="StudentExercise" action="index" arguments="{lab: lab}">{lab.name}</f:link.action>
							</f:else>
						</f:security.ifHasRole>
					</f:then>
					<f:else>
						{lab.name}
					</f:else>
				</f:if>
				</li>
			</f:then>
			<f:else>
				<f:security.ifHasRole role="Administrator">
					<f:then>
						<li><f:link.action controller="Exercise" action="index" arguments="{lab: lab}">{lab.name}</f:link.action></li>
					</f:then>
					<f:else>
						<li><f:link.action controller="StudentExercise" action="index" arguments="{lab: lab}">{lab.name}</f:link.action></li>
					</f:else>
				</f:security.ifHasRole>
			</f:else>
		</f:if>
	</hse:list>
	</li>
</hse:list>
